NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000/dev-medical
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/dev-medical-api
# Please change this key
NEXT_PUBLIC_VAPID_KEYS_PUBLIC_KEY=BHiwOBgfTPzV2WFAKvQh7HXD5t6VxhCQA0LVYj3duhAAxJflxcRfTxkvU6TFyz9frieF2SFgbN5rH8F9bdpSznI
